@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
  background-color: #F5F6F9; 
  color: #292F3B; 
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #E5E7EB; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #9CA3AF; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6B7280;
} 